@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Desktop (md and above) Navigation Links */
  .nav-link {
    @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit hidden md:block;
    /* Hidden by default, visible from md (768px) and up */
  }

  .nav-link::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #facc15;
    /* Tailwind yellow-400 */
    width: 100%;
    transform: scale(0);
    transition: transform 300ms;
    transform-origin: center;
    display: block;
  }

  .nav-link:hover::after {
    transform: scale(1.0);
  }

  /* Mobile Navigation Links */
  .nav-link-mobile {
    @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit block md:hidden;
    /* Visible on mobile (below md), hidden from md and above */
  }

  .nav-link-mobile::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #facc15;
    width: 100%;
    transform: scaleX(0);
    transition: transform 300ms;
    transform-origin: center;
    display: block;
  }

  .nav-link-mobile:hover::after {
    transform: scaleX(1);
  }
}